			{% extends 'base.html' %}
			{% block table %}

			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="{% url 'thinkdb:index' %}">Home</a>
					<i class="icon-angle-right"></i>
				</li>
				<li><a href="#">{{sub_title}}</a></li>
			</ul>

            <div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="halflings-icon white user"></i><span class="break"></span>数据库列表</h2>
						<div class="box-icon">
							<a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
						</div>
					</div>
					<div class="box-content">
						<table class="table table table table-striped table datatable table-bordered table  table table table table bootstrap-datatable">

						  <thead>
							  <tr>
								  <th>ID</th>
								  <th>Tags</th>
								  <th>CLuster</th>
                                  <th>Type</th>
                                  <th>Version</th>
								  <th>IP</th>
								  <th>Port</th>
								  <th>M/S</th>
                                  <th>MasterID</th>
                                  <th>Status</th>
                                  <th>Introduction</th>
                                  <th>Date_Joined</th>
                                  <th>Action</th>

							  </tr>
						  </thead>
						  <tbody>
                          {% for u in data_dict %}
							<tr>
								<td class="center">{{u.id}}</td>
								<td class="center">{{u.db_tag}}</td>
								<td class="center">{{u.cluster}}</td>
                                <td class="center">{{u.type}}</td>
                                <td class="center">{{u.version}}</td>
								<td class="center">{{u.ip}}</td>
								<td class="center">{{u.port}}</td>

								<td class="center">
                                    {% if u.is_master == 1%}
									<span class="label label-success" title data-rel="tooltip"   data-original-title="主库">Master</span>
                                    {% else %}
                                        {% if u.is_master == 0 %}
                                        <span class="label label-warning" title data-rel="tooltip"   data-original-title="从库">Slave</span>
                                        {% else %}
                                        <span class="label label-important" title data-rel="tooltip"   data-original-title="独立">Alone</span>
                                        {% endif %}
                                    {% endif %}
								</td>
                                <td class="center">{{u.master_id}}</td>
								<td class="center">
                                    {% if u.is_online == 1%}
									<span class="label label-success" title data-rel="tooltip"   data-original-title="在线">Up</span>
                                    {% else %}
                                        <span class="label" title data-rel="tooltip"   data-original-title="下线">Down</span>
                                    {% endif %}
								</td>
                                <td class="center">{{u.introduction}}</td>
                                <td class="center">{{u.add_time|date:"Y-m-d"}}</td>
								<td class="center">
									<a class="label label-success" href="{% url 'thinkdb:newdb' %}" title data-rel="tooltip"   data-original-title="添加">
										<i class="halflings-icon white zoom-in"></i>
									</a>
									<a class="label label-warning" href="{% url 'thinkdb:changedb' u.id %}" title data-rel="tooltip"   data-original-title="修改">
										<i class="halflings-icon white edit"></i>
									</a>
									<a class="label label-important" href="{% url 'thinkdb:deletedb' u.id %}" title data-rel="tooltip"   data-original-title="删除">
										<i class="halflings-icon white trash"></i>
									</a>

								</td>

							</tr>

                          {% endfor %}
						  </tbody>

					  </table>
					</div>
				</div><!--/span-->

			</div><!--/row-->

    		{% endblock %}

