
			
			{% extends 'base.html' %}
			{% block form %}
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="{{url_for('index')}}">后台主页</a>
					<i class="icon-angle-right"></i>
				</li>
				<li>
					<a href="{{url_for('dbcenter')}}">{{sub_title}}</a>
				</li>
			</ul>

			<div class="row-fluid sortable">
				<div class="box span12">
					<div class="box-header" data-original-title>
						<h2><i class="halflings-icon white edit"></i><span class="break"></span>{{href_name}}</h2>
						<div class="box-icon">

						</div>
					</div>
					<div class="box-content">

						<form class="form-horizontal" method="post">
							{{objForm.csrf_token}}
                             {% if objForm.errors %}
                                    <ul class=flashes>
                                        {% for message in objForm.errors %}
                                            <li><font color="red">{{ message }}</font></li>
                                        {% endfor %}
                                    </ul>
                            {% endif %}
                            {% if get_flashed_messages() %}
                                    <ul class=flashes>
                                        {% for message in get_flashed_messages() %}
                                            <li><font color="red">{{ message }}</font></li>
                                        {% endfor %}
                                    </ul>
                            {% endif %}
							<fieldset>
								<div class="control-group">
                                   <label class="control-label-self" for="focusedInput">站点名称:</label>
								<div class="controls-self">
                                  <!-- 接收从后台穿过来的FORM对象，自动生成INPUT -->
                                  {{objForm.sitename}}
                                  <!-- 如果后台返回了错误信息，则将信息放入Span标签，否则不显示！-->
                                </div></div>
                                <div class="control-group">
                                   <label class="control-label-self" for="focusedInput">监控频率:</label>
								<div class="controls-self">
                                  <!-- 接收从后台穿过来的FORM对象，自动生成INPUT -->
                                  {{objForm.monitor_frequency}}
                                  <!-- 如果后台返回了错误信息，则将信息放入Span标签，否则不显示！-->
                                </div></div>
                                <div class="control-group">
                                   <label class="control-label-self" for="focusedInput">邮件报警:</label>
								<div class="controls-self">
                                  <!-- 接收从后台穿过来的FORM对象，自动生成INPUT -->
                                  {{objForm.email_on}}
                                  <!-- 如果后台返回了错误信息，则将信息放入Span标签，否则不显示！-->
                                </div></div>
                                <div class="control-group">
                                   <label class="control-label-self" for="focusedInput">接收人:</label>
								<div class="controls-self">
                                  <!-- 接收从后台穿过来的FORM对象，自动生成INPUT -->
                                  {{objForm.receiver}}
                                  <!-- 如果后台返回了错误信息，则将信息放入Span标签，否则不显示！-->
                                </div></div>
								<div class="control-group">
                                   <label class="control-label-self" for="focusedInput">邮件次数:</label>
								<div class="controls-self">
                                  <!-- 接收从后台穿过来的FORM对象，自动生成INPUT -->
                                  {{objForm.email_times}}
                                  <!-- 如果后台返回了错误信息，则将信息放入Span标签，否则不显示！-->
                                </div></div>
								<div class="control-group">
                                   <label class="control-label-self" for="focusedInput">休眠时间:</label>
								<div class="controls-self">
                                  <!-- 接收从后台穿过来的FORM对象，自动生成INPUT -->
                                  {{objForm.email_sleep}}
                                  <!-- 如果后台返回了错误信息，则将信息放入Span标签，否则不显示！-->
                                </div></div>
                                <div class="control-group">
                                   <label class="control-label-self" for="focusedInput">SMTP主机:</label>
								<div class="controls-self">
                                  <!-- 接收从后台穿过来的FORM对象，自动生成INPUT -->
                                  {{objForm.smtp_host}}
                                  <!-- 如果后台返回了错误信息，则将信息放入Span标签，否则不显示！-->
                                </div></div>
                                <div class="control-group">
                                   <label class="control-label-self" for="focusedInput">SMTP端口:</label>
								<div class="controls-self">
                                  <!-- 接收从后台穿过来的FORM对象，自动生成INPUT -->
                                  {{objForm.smtp_port}}
                                  <!-- 如果后台返回了错误信息，则将信息放入Span标签，否则不显示！-->
                                </div></div>
								<div class="control-group">
                                   <label class="control-label-self" for="focusedInput">SMTP账户:</label>
								<div class="controls-self">
                                  <!-- 接收从后台穿过来的FORM对象，自动生成INPUT -->
                                  {{objForm.smtp_user}}
                                  <!-- 如果后台返回了错误信息，则将信息放入Span标签，否则不显示！-->
                                </div></div>
                                <div class="control-group">
                                   <label class="control-label-self" for="focusedInput">SMTP密码:</label>
								<div class="controls-self">
                                  <!-- 接收从后台穿过来的FORM对象，自动生成INPUT -->
                                  {{objForm.smtp_password}}
                                  <!-- 如果后台返回了错误信息，则将信息放入Span标签，否则不显示！-->
                                </div></div>
							  <div class="form-actions">
								<button type="submit" class="btn btn-primary">提交</button>
                                {{message |safe}}
							  </div>
							</fieldset>
						  </form>
					
					</div>
				</div><!--/span-->
			
			</div><!--/row-->
			
            <script type="text/javascript">
                function updatesucess() {
                    var errMsg = {{ sucessMsg|tojson }};
                    if (errMsg !=''){
                        alert(errMsg);
                    }
                };
                updatesucess();
            </script>

    		{% endblock %}